.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    padding: 20px;
    background-color: white;
    border-radius: 16px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}