* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    .App {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .App {
        width: 800px;
    }
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #5bbfc2;
    border-radius: 4px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.post_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 20px;
    margin: 15px 0;
}

.comments {
    display: flex;
    flex-direction: column;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 20px;
    margin: 15px 0;
}

.comment {
    margin: 15px 5px;
}

.post__btns {
    display: flex;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
}

.page {
    margin-right: 3px;
    padding: 5px 10px;
    border: 2px solid teal;
    border-radius: 4px;
    cursor: pointer;
}

.page__current {
    border: 3px solid coral;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 50px;
    padding: 0 15px;
}

.navbar__links {
    display: flex;
}

.navbar__links__items {
    margin-left: 5px;
    padding: 3px;
    background-color: white;
    border-radius: 6px;
}
